# requirements for the execution of tests and packaging. Not runtime requirements.
pytest
pytest-cov
mock
bump2version
flake8
pylint
black
tox
pyyaml
sphinx==5.3.0
sphinx-rtd-theme==3.0.2
sphinx-mdinclude==0.5.3
