# requirements for the execution of tests and packaging. Not runtime requirements.
pytest
mock
bump2version
flake8
pylint
black
pyyaml

# to be removed : runtime requirements
aiohttp==3.8.1
aioredis==1.3.0
bleach==4.1.0
requests==2.22.0
uvloop==0.14.0


dal==1.0.1.0

